<!-- mybatis-config.xml -->
<configuration>

   <!-- Database environment configuration -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!-- DataSource configuration goes here -->
                <property name="driver" value="${jdbc.driver}" />
                <property name="url" value="${jdbc.url}" />
                <property name="username" value="${jdbc.username}" />
                <property name="password" value="${jdbc.password}" />
            </dataSource>
        </environment>
    </environments>
   
   <!-- Specify mappers using classpath resources (if using XML-based mappings) -->
    <mappers>
        <mapper resource="mappers/UserMapper.xml"/>
    </mappers>
   <beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mybatis="http://mybatis.org/schema/mybatis-spring"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://mybatis.org/schema/mybatis-spring
           http://mybatis.org/schema/mybatis-spring.xsd">

    <!-- MyBatis Configuration -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:mappers/*.xml"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <!-- MyBatis Mapper Scanner -->
    <mybatis:scan base-package="controlcenterversiontwopackage.dao"/>

</beans>

</configuration>
